

// Process Parameters:

// Process Parameters for talon_initialize_database:
params.talon_initialize_database.custom_genome_build =  ""  //* @input @description:"Optional genome build for Talon. If you want to overwrite the genome_build parameter in the inputs section, you can enter this field."
params.talon_initialize_database.annotation =  ""  //* @input @description:"Optional anotation name for Talon."
params.talon_initialize_database.platform =  "Nanopore"  //* @input @description:"Sequencing Platform"

// Process Parameters for Build_Minimap2_Index:
params.Build_Minimap2_Index.params_build_Minimap2 =  "-ax splice -t 8 -L -d"  //* @input @description:"Specify Minimap2 build parameters"

// Process Parameters for Map_Minimap2:
params.Map_Minimap2.params_Minimap2 =  "-ax splice --MD"  //* @input @description:"Specify Minimap2 parameters"

// Process Parameters for talon:
params.talon.MIN_COVERAGE =  "0.9"  //* @input @description:"Minimum alignment coverage in order to use a SAM entry. Default = 0.9"
params.talon.MIN_IDENTITY =  "0.8"  //* @input @description:"Minimum alignment identity in order to use a SAM entry. Default = 0.8"
params.talon.THREADS =  "1"  //* @input @description:"Number of threads to run program with."

// Pipeline Config:
$HOSTNAME='default'
